<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id soluta nesciunt nostrum quia minima, hic dolore, repudiandae quasi natus ex asperiores odio facere necessitatibus distinctio, temporibus beatae! Distinctio, quasi est?</p>

<%- include("footer") -%>